body{
    background-color: moccasin;
    background: url("pics/background2.jpg");
}

*{
    font-family:"Microsoft YaHei";
}

#login{
    margin: 0 auto;
    width: 400px;
    background-color: white;
    border-radius: 25px;
    padding-bottom: 10px;
    margin-top: 250px;
}

#login form{
    color: #bbbbbb;
    font-size: large;
    padding-left: 20px;
}
.text{
    background-color: #eeeeee;
    height: 30px;
    border: 0;
    width: 360px;
    font-size: large;
    padding: 3px;
    padding-left: 5px;
}

#title{
    margin: 0;
    background-color: #00c0fd;
    color: white;
    height: 45px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-top: 20px;
    font-size: x-large;
    text-align: center;
}



#submit:hover{
    background-color: #0092fd;
}

#submit{
    display: block;
    background-color: #00e8fd;
    border: 0;
    border-radius: 8px;
    color: white;
    margin: 0px auto;
    height: 30px;
    width: 100px;
    font-size: 17px;
    cursor: pointer ;
    transition-property: background-color;
    transition-duration: 0.5s;
}
p{
    margin-top: 25px;
    margin-bottom: 10px;
}
#error{
    color: red;
    text-align: center;
    font-size: small;
    display: none;
}