<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/index.css" rel="stylesheet" type="text/css">
    <link href="css/info.css" rel="stylesheet" type="text/css">
    <script rel="script" src="../js/jquery-2.1.4.min.js"></script>
    <script rel="script" src="js/index.js"></script>
    <script rel="script" src="js/info.js"></script>
    <title></title>
</head>
<nav class=" navbar navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.php"><span style="font-size: large">失物招领</span></a>
        <!--<ul class="nav navbar-nav navbar-left">-->
        <!--<li><a href="index.php">首页</a></li>-->
        <!--<li><a href="">卡类</a></li>-->
        <!--<li><a href="">钥匙</a></li>-->
        <!--<li><a href="">贵重物品</a></li>-->
        <!--<li><a href="">其他</a></li>-->
        <!--</ul>-->
        <div class="user">
            <ul class="nav navbar-nav navbar-right {$unlogin}">
                <li><a href="../Login/index.html">登录</a></li>
                <li><a href="../Home/about.html">关于</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right {$logined}">
                <li class="logined"><a href="../Login/index.html">{$userName}</a>
                    <ul id="user-info">
                        <li><a href="">个人中心</a></li>
                        <li><a href="">账号设置</a></li>
                        <li><a href="../Login/validate.php?status=unlogin">退出</a></li>
                    </ul>
                </li>
                <li><a href="../Home/about.html">关于</a></li>
            </ul>
        </div>
    </div>
</nav>
<body>
<div class="container info">
    <h2>{$title}</h2>

    <p><span>发布时间：{$time} &nbsp;&nbsp;</span>状态：<span style="color: green; font-weight: bolder">{$state}</span></p>

    <p style="width:60%; margin: 10px auto; color: black; text-align: start;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$info}
    </p>
    <ul>
        {foreach from=$picList item=info}
        <li class="about"><img src="{$info['pic']}">

            {/foreach}
    </ul>
    <div class="function" style="float: right">
        <ul>
            <li><a id="top" style="background-color: #de5aff; cursor: pointer">TOP</a></li>
            <li onclick="deleteInfo()" style="cursor: pointer; display: {$permissions}"><a>删除</a></li>
            <li onclick="showPhoneNum()" style="cursor: pointer"><a style="background-color: #50de2d">联系方式</a></li>
            <!--<li><a href="" style="background-color: #ff5b8b">举报</a></li>-->
        </ul>
    </div>
</div>

<div class="phoneNum">
    <p id="showNum" style="display: none;"><input style="padding: 4px; width: 300px" id="num" placeholder="请输入您的学号进行确认">
        <button class="btn btn-info" onclick="postNum()">确认</button>
        <button class="btn btn-danger" onclick="hiddenPhoneNum()">取消</button>
    </p>
    <p id="showPhoneNum" style="font-size: larger; color: #888888; display:none">
        <span></span>
        <button class="btn btn-default" style="margin-left: 100px" onclick="hiddenPhoneNum()">确定</button>
    </p>
    <p id="error" style="font-size: larger; color: #888888; display: none;">
        验证错误
        <button class="btn btn-default" style="margin-left: 100px" onclick="hiddenPhoneNum()">确定</button>
    </p>
</div>
<footer>
    <p>技术支持：广东东软学院安全服务队</p>

    <p>服务提供：广东东软学院安全服务队</p>

    <p>©2016 广东东软学院</p>
</footer>
</body>
</html>